main {
    background: linear-gradient(to right top, rgba(38,50,105,0.78), rgba(255,152,0,0.45)), url('../img/bg.jpeg') center center no-repeat  ;
    background-size: cover;
}

header {
    position: absolute;
    top: 10px;
    width: 100%;
}

header .user {
    float: right;
    margin-right: 20px;
    font-size: 20px;
}

.filp-model{
    display: none;
}
.show{
    display: block!important;
}

.model {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 3px 4px 5px rgba(0,0,0,0.2);
}

.model .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.model .tab {
    text-align: center;
}
.model .tab a {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    color: #666;
}
.model .tab a.active {
    border-bottom: 2px solid #444;
    color: #444;
}

.model .content {
    padding: 20px 40px;
}
.model .errorMsg {
    color: #ff9800;
    font-size: 12px;
}
.model .content .input-field {
    position: relative;
    margin-top: 10px;
}
.model .content .input-field .fa{
    position: absolute;
    left: 13px;
    top: 13px;
}
.model .content input[type=text],
.model .content input[type=password] {
    width: 100%;
    padding: 10px 10px 10px 28px;
    outline: none;
}
.model .content input[type=submit] {
    padding: 6px 10px;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    outline: none;
}


.filp-model.login .model-login,
.filp-model.register .model-register {
    transform: translate(-50%,-50%) rotateY(0deg);
    backface-visibility: hidden;
    transition: all 1s;
}
.filp-model.login .model-register,
.filp-model.register .model-login{
    transform: translate(-50%,-50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1s;
}
